.login__container{
    position: relative;
    height: calc(100vh - 70px);
    display: flex;
    align-items: top;
    justify-content: center;
  
}

.login__container::before {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    background-image: url("../Assets/images/login-background.jpg");
    z-index: -1;
    
}

.login__content{
    max-width: 850px;
    padding: 80px 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    
}

.signUp__button{
    width: 100%;
    background-color: #0063e5;
    font-weight: bold ;
    padding: 17px 0px;
    color: #f9f9f9;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: all 250ms ease-out;
    margin-top: 8px;
    margin-bottom: 12px;
    
    
}

.signUp__button:hover{
    background-color: #0483ee;
}

.signUp__button > a {
    color: #f9f9f9;
    font-weight: bold ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
}


.login__description{
    font-size: 11px;
    letter-spacing: 1.5px;
    text-align: center;
    line-height: 1.5;
}

.imgTwo{
    margin-top: 10px;
}